@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(32, 32, 32, 0.685);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.key {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: rgb(44, 44, 44);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 20px;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 1.3px;
  min-width: 150px;
  position: relative;
}
.key small {
  position: absolute;
  top: -25px;
  left: 0;
  text-align: center;
  width: 100%;
  color: rgb(233, 232, 232);
  font-size: 15px;
}
